/* Utilites */
.container {
  max-width: 1366px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: #fff;
  color: #333;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 20%);
  border-radius: 10px;
}

.btn {
  width: 100%;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}
